:root{
    --corFundo1: #FF8A00;
    --corFundo2: #FFFFFF
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}
body{
    background: linear-gradient(var(--corFundo1),var(--corFundo2));
    height: 100vh;
}

.fundo{
    background-color: #5E4242;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: #D27418;
}
.translate{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center ;
padding-top: 100px;
}

.caixa-traducao{
    width: 390px;
    height: 450px;
    /* background-color: #FFFDF1; */
border-radius: 15px;
padding: 2% 1% 2% 5%;
}


.top>img{
    width: 60px;
    height: 60px;
    }
    
textarea{
    resize: none;
    background-color: var(--corLivros);
    border: solid 2px var(--corBorda);
    padding: 5%;
    height: 65%;
    color: var(--textColor)
}
h3{
    font-size: 35px;
    font-weight: lighter;
}
.top{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.brightButton{
    height: 80px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.selects{
    position: absolute;
    top: 1;
    left: 1;
}